.container-fluid {
    padding: 60px 30px;
}

.jumbotron {
    background-color: #3f51b5; 
    color: #ffffff;
    padding: 100px 25px;
}

.bg-grey{
    background-color:#f5eeee; /*9c27b0; e6e1e1*/
}

.bg-main{
    background-color:#3f51b5;
    color: #fff !important;
}

.logo-small {
    color: #4caf50;
    font-size: 50px;
}

.logo {
    color: #4caf50;
    font-size: 200px;
}
@media screen and (max-width:768px){
    .col-sm-4 {
        text-align: center;
        margin:25px 0;
    }
}

.navbar {
    margin-bottom: 0;
    margin-left: 1;
    margin-right: 1;
    background-color: #3f51b5;
    color: #ffffff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navIcon{
    margin-top: 100;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #000 !important;
}

.navbar-toggle{
    color: #fff !important;
}

.modal-header{
    background-color: #3f51b5; 
    color: #ffffff;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-dialog{
    margin-top: 100px;
}

.modal-content{
    color: #000 !important;
}

.services{
    margin-right: 20;
    margin-left: 20;
}

.thumbnail{
    padding: 0 0 5px 0;
    max-width: 300px;
    max-height: 390px;
    border: 1;
    border-radius: 5px;
    background-color:#3f51b5;
    color: #ffffff;
    text-align: center;
}

.thumbnail img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.chart {
    width: 100%; 
    min-height: 450px;
  }

  .hideme
  {
      opacity:0;
  }

  hr {
    display: block;
    height: 2px;
    border: 1;
    border-top: 5px solid #3f51b5;
    margin: 1em 0;
    padding: 0; 
}