@import url('https://fonts.googleapis.com/css?family=Barlow|Bree+Serif|Dosis|Lato|Open+Sans|Poppins|Ubuntu');

.container-fluid {
    padding: 50px 30px;
}

.jumbotron-billboard .img {
  margin-bottom: 0px;
  opacity: 0.3;
  color: #fff;
  background: #000 url("https://media.giphy.com/media/sSrnQsI3r3P44/giphy.gif") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position:absolute;
  top:0;left:0;
  z-index:0;
}

.jumbotron-billboard2 .img {
  margin-bottom: 0px;
  opacity: 0.1;
  color: #fff;
  background: #000 url("https://www.simplilearn.com/ice9/free_resources_article_thumb/real-impact-social-media-article.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position:absolute;
  top:0;left:0;
  z-index:0;
}

.jumbotron-billboard3 .img {
  margin-bottom: 0px;
  opacity: 0.2;
  color: #fff;
  background: #000 url("https://wildbit.com/blog-images/2016/05/roadmap.png") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position:absolute;
  top:0;left:0;
  z-index:0;
}

.jumbotron {
    position: relative;
    background-color: #4e69ec; 
    color: #ffffff;
    padding: 60px 25px;
}

.jumbotron .container {
  position:relative;
   z-index:0;
}
.jumbotron .li{
  color:#000;
}

.bg-team{
  position: relative;
  background-color: #f5eeee;
  background-size: cover;
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.bg-team .container {
  position:relative;
   z-index:0;
}

.bg-blue{
  position: relative;
  background-color: #f5eeee;
  background-size: cover;
  padding-left: 12% !important;
  padding-right: 12% !important;
}

.bg-blue .container {
  position:relative;
   z-index:0;
}

.bg-blue2{
  position: relative;
  background-color: #ffffff;
  background-size: cover;
  padding-left: 20% !important;
  padding-right: 20% !important;
}

.bg-blue2 .container {
  position:relative;
   z-index:0;
}

.bg-team .myback{
  margin-bottom: 0px;
  color: #fff;
  background: #f8f8f8; /*url("images/background/lightblueback.png") center center;*/
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position:absolute;
  top:0;left:0;
  z-index:0;
}

.bg-team .hr{
  display: block;
  height: 4px;
  border: 1;
  border-top: 4px solid #4f6cf0;
  margin: 1em 0em;
  padding: 0; 
}

.bg-team2{
  position: relative;
  background-color: #f5eeee;
  background-size: cover;
}

.bg-team2 .container {
  position:relative;
   z-index:0;
}

.bg-team2 .myback{
  margin-bottom: 0px;
  opacity: 0.2;
  color: #fff;
  background: #000 url("images/background/toronto.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position:absolute;
  top:0;left:0;
  z-index:0;
}

.bg-main{
    background-color:#4e69ec;
    color: #fff !important;
}

.logo-small {
    color: #4caf50;
    font-size: 50px;
}

.logo {
    color: #4caf50;
    font-size: 200px;
}
@media screen and (max-width:768px){
    .col-sm-4 {
        text-align: center;
        margin:25px 0;
    }
}

.navbar-fixed-top.scrolled {
  background-color:#4e69ec !important;
  transition: background-color 200ms linear;
}
.navbar {
    margin-bottom: 0;
    margin-left: 1;
    margin-right: 1;
    background-color: transparent;
    color: #ffffff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.container .navbar-inner {
  background:transparent;
}

.navIcon{
    margin-top: 100;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #000 !important;
}

.navbar-toggle{
    color: #fff !important;
}


.jumbotron .modal-header{
    background-color: #4e69ec; 
    color: #ffffff;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.jumbotron .modal-dialog{
    margin-top: 100px;
}


.jumbotron .modal-content{
    color: #000 !important;
}

/*Youtube Videos*/
.videoWrapper {
	position: relative;
	padding-bottom: 57.5%; /* 16:9 */
	padding-top: 40%;
  height: 100%;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  height: 60%;
}

.bg-blue .modal-dialog {
  margin-top: 60px;
  width: 100%;
  height: 0;
  padding-left: 10%;
  padding-right: 10%;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
  border: none;
  
}

.bg-blue .modal-content {
  height: 0;
  border-radius: 0;
  border: none;
  background-color: rgba(0,0,0,.0001) !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -moz-transition: none;
  -webkit-transition: none;
}

.services{
    margin-right: 20;
    margin-left: 20;
}


.overview{
  padding: 50px 8%;
}


@media (max-width: 720px) {
  .overview{
    padding: 50px 5%;
  }
}

.distribution .img-responsive {
  margin: 0 auto;
}

.distribution .distributionDetail {
  font-size: 14px;
}

#team{
  padding: 0 10%;
}

.thumbnail{
  padding: 0 0 10px 0;
  margin-bottom: 40px;
  width: 220px;
  height: 530px;
  border: 1;
  border-radius: 15px;
  background-color:#f0f5f8 !important;
  color: #000;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.advisor{
  background: #fcf4d0 !important;
  background-color: #fcf4d0 !important;
}

.thumbnail img{
    width: 50%;
    border-radius: 15px;
    margin-top: -15px;
    margin-bottom: 10px;
    margin-top: -20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail .socialMedia img{
  width: 28px !important;
  border-radius: 0px !important;
  margin-top: -12px;
}

.thumbnail .socialMedia a{
  display: inline;
}

.thumbnail ul{
  padding: 0 8%;
  font-size: 11px;
}

.btn{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn .btn-custom{
  background-color: #4e69ec !important; 
  color: #fff !important;
}

.chart {
    width: 100%; 
    min-height: 450px;
  }

.hideme
{
    opacity:0;
}

hr {
    display: block;
    height: 4px;
    border: 1;
    border-top: 4px solid #6b86fc;
    margin: 1em 0em;
    padding: 0; 
}

* {
  box-sizing: border-box;
}

/* Set a font */
body {
  font-family: 'Poppins', sans-serif;
}

.table{
  width: 70%;
  margin: auto;
  background-color: #fff !important; 
}

.th {
  background: #000;
}

@media (max-width: 720px) {
  .table{
    width: 100%;
    margin: auto;
  }
}

.platform .hovereffect {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:80%;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
  margin-bottom: 10px;
  }

.videoSection .hovereffect {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:100%;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
  margin-bottom: 10px;
}
  
  .hovereffect .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(0,0,0,0.5);
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out
  }
  
  .hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
  }
  
  .hovereffect h2 {
  text-transform:uppercase;
  color:#fff;
  text-align:center;
  position:relative;
  font-size:17px;
  background:rgba(0,0,0,0.6);
  -webkit-transform:translatey(-100px);
  -ms-transform:translatey(-100px);
  transform:translatey(-100px);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  padding:10px;
  }
  
  .hovereffect a.info {
  text-decoration:none;
  display:inline-block;
  text-transform:uppercase;
  color:#fff;
  border:1px solid #fff;
  background-color:transparent;
  opacity:0;
  filter:alpha(opacity=0);
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  margin:50px 0 0;
  padding:7px 14px;
  }
  
  .hovereffect a.info:hover {
  box-shadow:0 0 5px #fff;
  }
  
  .hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
  }
  
  .hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
  }
  
  .hovereffect:hover h2,.hovereffect:hover a.info {
  opacity:1;
  filter:alpha(opacity=100);
  -ms-transform:translatey(0);
  -webkit-transform:translatey(0);
  transform:translatey(0);
  }
  
  .hovereffect:hover a.info {
  -webkit-transition-delay:.2s;
  transition-delay:.2s;
  }
  /**/

  .well{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #000;
    background-color: #fff;
    margin: 2% 0;
    padding: 10px 10px 10px 10px;
  }

  .myWell{
    margin-left: 30%;
    margin-right: 30%;
  }

  .myWell2{
    margin-left:5%;
    margin-right:5%;
  }
.myShadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

