.container-fluid {
    padding: 50px 30px;
}

.jumbotron-billboard .img {
  margin-bottom: 0px;
  opacity: 0.3;
  color: #fff;
  background: #000 url("https://media.giphy.com/media/sSrnQsI3r3P44/giphy.gif") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position:absolute;
  top:0;left:0;
  z-index:0;
}

.jumbotron-billboard2 .img {
  margin-bottom: 0px;
  opacity: 0.15;
  color: #fff;
  background: #000 url("https://www.simplilearn.com/ice9/free_resources_article_thumb/real-impact-social-media-article.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position:absolute;
  top:0;left:0;
  z-index:0;
}

.jumbotron-billboard3 .img {
  margin-bottom: 0px;
  opacity: 0.2;
  color: #fff;
  background: #000 url("https://wildbit.com/blog-images/2016/05/roadmap.png") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position:absolute;
  top:0;left:0;
  z-index:0;
}

.jumbotron {
    position: relative;
    background-color: #5769c7; 
    color: #ffffff;
    padding: 60px 25px;
}

.jumbotron .container {z-index:2;
  position:relative;
   z-index:2;
}

.bg-grey{
    background-color:#f5eeee; /*9c27b0; e6e1e1*/
}

.bg-main{
    background-color:#5769c7;
    color: #fff !important;
}

.logo-small {
    color: #4caf50;
    font-size: 50px;
}

.logo {
    color: #4caf50;
    font-size: 200px;
}
@media screen and (max-width:768px){
    .col-sm-4 {
        text-align: center;
        margin:25px 0;
    }
}

.navbar-fixed-top.scrolled {
  background-color:#3f51b5 !important;
  transition: background-color 200ms linear;
}
.navbar {
    margin-bottom: 0;
    margin-left: 1;
    margin-right: 1;
    background-color: transparent;
    color: #ffffff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.container .navbar-inner {
  background:transparent;
}

.navIcon{
    margin-top: 100;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #000 !important;
}

.navbar-toggle{
    color: #fff !important;
}

.modal-header{
    background-color: #5769c7; 
    color: #ffffff;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-dialog{
    margin-top: 100px;
}

.modal-content{
    color: #000 !important;
}

.services{
    margin-right: 20;
    margin-left: 20;
}

.thumbnail{
    padding: 0 0 5px 0;
    max-width: 340px;
    max-height: 450px;
    border: 1;
    border-radius: 5px;
    background-color:#f8f6f6;
    color: #000;
    text-align: center;
}

.overview{
  padding: 50px 8%;
}

.distribution{
  padding: 50px 10%;
}
@media (max-width: 720px) {
  .overview{
    padding: 50px 3%;
  }
  .distribution{
    padding: 50px 5%;
  }
}



.distribution .img-responsive {
  margin: 0 auto;
}

.distribution .distributionDetail {
  font-size: 20px;
}

.thumbnail img{
    width: 90%;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.chart {
    width: 100%; 
    min-height: 450px;
  }

  .hideme
  {
      opacity:0;
  }

  hr {
    display: block;
    height: 4px;
    border: 1;
    border-top: 4px solid #5769c7;
    margin: 1em 0em;
    padding: 0; 
}

* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container .timeContainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after .timeContainer {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #5769c7;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #5769c7;
  position: relative;
  border-radius: 6px;
}


  